main {
	color: white;
}

/* Header */
#head {
	background: #181015 url(../images/bg_header.jpg) no-repeat;
	background-size: cover;
	min-height: 520px;
	text-align: center;
	padding-top: 240px;
	color: white;
	font-family: "Open sans", Helvetica, Arial;
	font-weight: 900;
}

#head.secondary {
	height: 100px;
	min-height: 100px;
	padding-top: 0px;
}

#head .lead {
	font-family: "Open sans", Helvetica, Arial;
	font-size: 44px;
	margin-bottom: 6px;
	color: white;
	line-height: 1.15em;
}

#head .tagline {
	color: rgba(255, 255, 255, 0.75);
	margin-bottom: 25px;
}

#head .tagline a {
	color: #fff;
}

#head .btn {
	margin-bottom: 10px;
}

#head .btn-default {
	text-shadow: none;
	background: transparent;
	color: rgba(255, 255, 255, .5);
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
	box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
	background: transparent;
}

#head .btn-default:hover,
#head .btn-default:focus {
	color: rgba(255, 255, 255, .8);
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
	box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
	background: transparent;
}

#head .btn-default:active,
#head .btn-default.active {
	color: #fff;
	-webkit-box-shadow: inset 0px 0px 0px 3px #fff;
	-moz-box-shadow: inset 0px 0px 0px 3px #fff;
	box-shadow: inset 0px 0px 0px 3px #fff;
	background: transparent;
}

main {
	min-height: 550px;
	background: #181015 url('../images/bg_header.jpg') no-repeat;
	background-size: cover;
}

main > div.row {
	padding-top: 123px;
	min-height: 482px;
}

main h1 {
	margin-bottom: 40px;
}

@media (max-width: 767px) {
	#head {
		min-height: 420px;
		padding-top: 160px;
	}

	#head .lead {
		font-size: 34px;
	}
}

caption {
	font-family: 'Rock Salt', cursive;
	padding: 20px;
	font-style: italic;
	caption-side: bottom;
	color: #666;
	text-align: right;
	letter-spacing: 1px;
}

a {
	text-decoration: underline;
	color: #97ff00;
}

.interv-list button {
	width: 110px !important;
}

.myButton {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #777 5%, #e9e9e9 100%);
	background-color: #a0a0a0;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #595959;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 11px 24px;
	text-decoration: none;
}

.myButton:hover {
	background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color: #e9e9e9;
}

.myButton:active {
	position: relative;
	top: 1px;
}


a:visited {
	color: #844;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: white;
	background: #663d28;
}

.search-input {
	color: #c96622 !important;
	width: 70% !important;
	margin: 20px auto !important;
	font-weight: 900 !important;
}

form {
	/*! width: 47vw; */
	/*! margin: auto; */
}

table {
	width: 100%;
	background-color: #5e6274;
	border-radius: 15px;
	overflow: hidden;
	text-align: left;
}

thead {
	color: #97ff00;
}

tbody tr:nth-child(odd) {
	background-color: #85776b;
}

tbody tr:nth-child(even) {
	background-color: #c0b4ab;
}

th,
td,
td {
	vertical-align: middle !important;
	padding: 1em !important;
	border-bottom: 3px solid rgb(208, 208, 208) !important;
}

tbody>tr:last-child>td {
	border-bottom: 0 !important;
}

/* thead {
	background-image: url(/images/noisy-texture-100x100.png) !important;
} */

/* form {
	width: 60%;
} */

/* Autohide navbar */
/* .slideUp {
	top: -100px;
} */


.navbar {
	position: fixed;
	min-height: 85px;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
}

.animated {
    -webkit-transition: -webkit-transform 200ms linear;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.54s ease-out;
	transition: all 0.5s ease-out;
}
.slideDown {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
}
.slideUp {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

.dropdown {
    text-align: center;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 #formDiv {
	max-width: 360px;
}

@media (max-width: 420px) {
	#formDiv {
		width: 75vw;
	}
}

/* Highlights (in jumbotron in most cases) */
.highlight {
	margin-top: 40px;
}

.h-caption {
	text-align: center;
}

.h-caption i {
	display: block;
	font-size: 54px;
	color: #382526;
	margin-bottom: 36px;
}

.h-caption h4 {
	color: #382526;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

/* .h-body { } */


/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open sans", Helvetica, Arial;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
	margin-top: 30px;
}

blockquote {
	font-style: italic;
	font-family: Georgia;
	color: #999;
	margin: 30px 0 30px;
}

label {
	color: #777;
}

.thin {
	font-weight: 300;
}

.page-title {
	margin-top: 20px;
	font-weight: 300;
}

.text-muted {
	color: #888;
}

.breadcrumb {
	background: none;
	padding: 0;
	margin: 30px 0 0px 0;
}

ul.list-spaces li {
	margin-bottom: 10px;
}

/* Helpers */
.container-full {
	margin: 0 auto;
	width: 100%;
}

.top-space {
	margin-top: 60px;
}

.top-margin {
	margin-top: 20px;
}

img {
	max-width: 100%;
}

img.pull-right {
	margin-left: 10px;
}

img.pull-left {
	margin-right: 10px;
}

#map {
	width: 100%;
	height: 280px;
}

#social {
	margin-top: 50px;
	margin-bottom: 50px;
}

#social .wrapper {
	width: 340px;
	margin: 0 auto;
}

/* Main content block */
/* .maincontent { } */

/* Sidebars */
.sidebar {
	padding-top: 36px;
	padding-bottom: 30px;
}

.sidebar .widget {
	margin-bottom: 20px;
}

.sidebar h1,
.sidebar .h1,
.sidebar h2,
.sidebar .h2,
.sidebar h3,
.sidebar .h3 {
	margin-top: 20px;
}

/* Footer */
.footer1 {
	background: #232323;
	padding: 30px 0 0 0;
	font-size: 12px;
	color: #999;
}

.footer1 a {
	color: #ccc;
}

.footer1 a:hover {
	color: #fff;
}

.footer1 .widget {
	margin-bottom: 30px;
}

.footer1 .widget-title {
	font-size: 17px;
	font-weight: bold;
	color: #ccc;
	margin: 0 0 20px;
}

.footer1 .entry-meta {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0 0 35px 0;
	padding: 2px 0;
	color: #888888;
	font-size: 12px;
	font-size: 0.75rem;
}

.footer1 .entry-meta a {
	color: #333333;
}

.footer1 .entry-meta .meta-in {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.follow-me-icons {
	font-size: 30px;
}

.follow-me-icons i {
	float: left;
	margin: 0 10px 0 0;
}

.footer2 {
	background: #191919;
	padding: 15px 0;
	color: #777;
	font-size: 12px;
}

.footer2 a {
	color: #aaa;
}

.footer2 a:hover {
	color: #fff;
}

.footer2 p {
	margin: 0;
}

.widget-simplenav {
	margin-left: -5px;
}

.widget-simplenav a {
	margin: 0 5px;
}

/* moi */


.tab_client td {
	padding: 5px;
	border: none !important;
}

.client_td {
	text-align: right;
	width: auto;
	border: none !important;
}

.client_td2 {
	text-align: left;
}

#tab_clients_liste tr:nth-child(2n+1) {
	background-color: #f0f0f0;
}

#tab_clients_liste td {
	padding: 5px 3px 5px 3px;
	font-family: "Droid Sans", Tahoma, Geneva, sans-serif;
	font-size: 1.00em;
	font-weight: 500;
	border: 1px dotted #999999;
}

.tab_clients_liste_td1 {
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	background-color: #27528f;
	text-align: center;
}

.tab_clients_liste_td2 a {
	text-decoration: none;
	color: #000;
}

.tab_clients_liste_td2 a:hover {
	text-decoration: underline;
	color: #699440;
}